.header-container {
    width: 100%;
    height: 8dvh;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.brand-text {
    margin: auto;
    width: fit-content;
}

.section {
    width: 34%;
    display: flex;
}

.left {
    justify-content: flex-start;
    margin: 0 0 0 1rem;
    font-size: 1rem;

    p {
        margin: 0 1rem
    }
}

.center {
    justify-content: center;
    font-size: 0.75rem;
}

.right {
    justify-content: flex-end;
    margin: 0 1rem 0 0;
}

.social {
    margin: 0 1rem;
    cursor: pointer;
}


.logo-header {
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.brand-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.icon {
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .social {
        margin: 0 0.75rem;
    }

    .left {
        font-size: 0.75rem;
    }
}